.dropbtn {
  display: block;
  background-color: rgb(150, 246, 255, 0.6);
  color: grey;
  font-size: 28px;
  font-weight: 700;
  border-radius: 4px;
  border: solid 2px grey;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: auto;
}

.subbtn {
  background-color: #328ba8;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: solid 2px grey;
  border-radius: 2px;
  cursor: pointer;
  width: 70%;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(150, 246, 255, 1);
}

#notification {
    display: none;
    color: red;
    font-size: 12px;
    font-weight: bold;
}


#loader {
  display: inline-block;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-left: 10px;
  margin-bottom: -20px;
}

#xd{
  color: green;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#myInput {
  box-sizing: border-box;
  background-image: url('../searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
  margin: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: scroll;
  border: 1px solid #ddd;
  z-index: 1;
  height: 400px;
  max-height: 800px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.InputFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: auto;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
}

.InputFields h2{
  display: block;
  font-size: 16px;
}

.delete-btn {
    display: inline-block;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0);
    border: none;
}


.param-input {
    display: inline-block;
    margin-bottom: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
}
.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid blue;
  padding: 10px;
  text-align: center;
}

.num-input{

  border-radius: 3px;
  border: 1px solid;
  background-color: rgba(225, 232, 235, 0.8);
  margin: 10px;
  width: fit-content;
  display: inline-block;
  display: block;
}
