#panel {
  border-radius: 12px;
  border: 2px solid #297293;
  padding: 20px;
  width: 170px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}


#panel:hover {
  border: 4px solid #297293;
  margin: 6px;
}

#panel img{
  max-width:100%;
max-height:80%;
}

table{
  border:1px solid black;
}

td{
  text-align: center;
  text-decoration-color: grey;
}

th{
  padding: -1px;
  border: 2px solid black;
}

span.qval{
  font-weight: bold;
}
